@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("nt bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100%;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 82vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    height: 62px;
}

nav img {
    position: relative;
    top: 10px;
    color: red;
    width: 162px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 26px;

}

.hero> :first-child {
    font-size: 56px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;

}

.hero> :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    top: -62px;
}

.btn {
    padding: 3px 8px;
    font-weight: 600;
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 10px 24px;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid red;
    font-weight: 400;

}

.main input {
    padding: 10px 87px 14px 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.8);
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.3);
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.btn-red-sm {
    background-color: red;
    color: white;
    border: 1px solid red;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secIMg {
    position: relative;
}

.secIMg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secIMg video {
    position: absolute;
    top: 25%;
    left: 14%;
    /* adjust as needed */
    width:84%;
    /* adjust to fit TV screen */
    height: 50%;
    object-fit: cover;

}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
    font-family: "Martel Sans", sans-serif;

}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-family: "Martel Sans", sans-serif;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 38px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 18px;

}

.tp {
    top: -21px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-family: "Martel Sans", sans-serif;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    font-family: "Martel Sans", sans-serif;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}